{% extends "frontend/base.html" %}
{% block title %} front page {% endblock %}
{% block body %}
    <h1>{{ product.name }}</h1>
    <table>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>In Stock</th>
            <td>{{ product.stock_quantity }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ product.category.name }}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ product.rating }}</td>
        </tr>
    </table>

    {% if request.GET.maxqty == "1" %}
    <div style="padding: 5px; background: red; color: #fff;">
        Your shopping basket already contains all available stock quantity of this item!
    </div>
    {% elif request.GET.maxqty == "0" %}
    <div style="padding: 5px; background: red; color: #fff;">
        No items in stock!
    </div>
    {% endif %}

    <form action="{% url "products.buy" product_id=product.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Add to basket">
    </form>

    <a href="{% url "review" product_id=product.id %}">Review this product</a> <br />
    {% for review in reviews %}
        <p>
        {{review.customer.name}}'s rating: {{ review.rating }} <br />
        {{ review.comment }}
        </p>
    {% endfor %}
{% endblock %}