{% extends "frontend/base.html" %}
{% block title %} front page {% endblock %}
{% block body %}
    <h1>{{ product.name }}</h1>
    <table>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>In Stock</th>
            <td>{{ product.stock_quantity }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ product.category.name }}</td>
        </tr>
    </table>

    {% if request.GET.maxqty %}
    <div style="padding: 5px; background: red; color: #fff;">
        Your shopping basket already contains all available stock quantity of this item!
    </div>
    {% endif %}

    <form action="{% url "products.buy" product_id=product.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Add to basket">
    </form>
{% endblock %}